#BioModule biolockj.module.getData.sra.SraDownload AS bal_tree_fodor
pipeline.disableAddImplicitModules=Y
pipeline.defaultProps=${BLJ}/copperhead.properties

cluster.batchCommand = sbatch -N 1 -n 16 --mem 73728 -t 96:00:00

bal_tree_fodor.modules=sra-tools
bal_tree_fodor.batchCommand=/bin/bash
bal_tree_fodor.sraAccList=/users/amyerke/git/balance_tree_exploration/Fodor/SRR_Acc_List.txt
bal_tree_fodor.destinationDir=/scratch/amyerke/bt_fodor_sra
