#BioModule biolockj.module.getData.sra.SraDownload AS SRA
pipeline.disableAddImplicitModules=Y
pipeline.defaultProps=/projects/afodor_research/apps/blj_support/resources/config/default/copperhead.properties

cluster.batchCommand = sbatch -N 1 -n 16 --mem 73728 -t 96:00:00
cluster.jobHeader=#PBS -l procs=4,mem=24GB

SRA.modules=sra-tools
SRA.batchCommand=/bin/bash
SRA.sraAccList=/users/amyerke/git/balance_tree_exploration/Fodor/SRR_Acc_List.txt
SRA.destinationDir=/scratch/amyerke/bt_fodor_sra
